---
layout: default
---

{% include hero.html %}

<div class="container">
    <div id="about" class="my-16 max-w-4xl mx-auto bg-brand text-white p-12 rounded-lg bg-brand flex flex-wrap items-center justify-center">
        <div class="w-full sm:w-3/4 lg:w-1/3">
            {% include Power-Buddies-Customer.svg %}
        </div>
        <div class="w-full mt-10 lg:mt-0 lg:w-2/3 lg:pl-16">
            <h2 class="mb-4 heading">What are Power Buddies?</h2>
            <p>Power Buddies are adorable plush companions that offer gentle support for both children and adults with ADHD, ASD, SPD, stress or trauma through their healthful therapeutic qualities. Designed warmly to alleviate users of daily tensions and distraction, Power Buddies promote feelings of stability, relaxation and happiness.</p>
        </div>
    </div>

    <div id="shop" class="my-16 flex justify-center">
        <div class="max-w-xl text-center">
            <div class="relative mb-6">
                <div class="w-32 mx-auto text-gray-light">
                    {% include Paw-Print-Grey.svg %}
                </div>
                <h2 class="absolute top-0 left-0 w-full h-full flex justify-center items-center heading">
                    Find Your Power Buddy
                </h2>
            </div>
            <p>Choose your favourite friend from our selection to improve sleep ability, easily solve anxiety issues and add cheer to all lifestyles and ages.</p>
        </div>
    </div>
</div>

<div class="my-16 mx-6 flex flex-col lg:flex-row space-y-6 lg:space-y-0 lg:space-x-6 justify-center items-center">
    <div class="w-full max-w-xl lg:w-1/3 shadow-lg pb-6">
        {% include shop-ziggy.html %}
    </div>
    <div class="w-full max-w-xl lg:w-1/3 shadow-lg pb-6">
        {% include shop-luna.html %}
    </div>
    <div class="w-full max-w-xl lg:w-1/3 shadow-lg pb-6">
        {% include shop-abbey.html %}
    </div>
</div>
