<footer id="contact" class="bg-brand text-white text-center lg:text-left">
    <div class="container">
        <div class="py-16 flex flex-wrap justify-between items-center">            
            <div class="w-full lg:w-1/4 mb-8">
                {% include Made-in-Montreal.svg %}
            </div>
            <div class="w-full lg:w-1/2">
                <p class="text-xl">
                    {{ site.t[page.lang].about }}
                </p>
            </div>
        </div>
        <div class="border-t-2 border-blue-100 py-16 flex flex-wrap space-y-4">
            <div class="w-full lg:w-1/3">
                <h2 class="heading">{{ site.t[page.lang].footer-contact }}</h2>
            </div>
            <div class="w-full lg:w-1/3 text-xl underline space-y-4">
                <a title="Email Power Buddies" class="block hover:no-underline" href="mailto:info@powerbuddies.ca">
                    info@powerbuddies.ca
                </a>
                <a title="Phone Power Buddies" class="block hover:no-underline" href="tel:4387959530">
                    (438) 795-9530
                </a>
            </div>
            <div class="w-full lg:w-1/3 lg:text-right text-white space-x-10">
                <a href="#" title="Facebook" class="circular-icon" onclick="alert('Coming soon.')">
                    {% include facebook.svg %}
                </a>
                <a href="#" title="LinkedIn" class="circular-icon" onclick="alert('Coming soon.')">
                    {% include linkedin.svg %}
                </a>
                <a href="#" title="Instagram" class="circular-icon" onclick="alert('Coming soon.')">
                    {% include instagram.svg %}
                </a>
            </div>
        </div>

    </div>
    <div class="bg-dark">
        <div class="container">
            <div class="flex flex-wrap justify-between py-10 text-white">
                <div class="w-full lg:w-1/2">
                    {{ site.t[page.lang].copyright }}
                </div>
                <div class="w-full lg:w-1/2 space-x-4 underline lg:text-right"> 
                    <a href="#" class="hover:no-underline" onclick="alert('{{ site.t[page.lang].soon }}')">
                        {{ site.t[page.lang].privacy }}
                    </a>
                    <a href="#" class="hover:no-underline"  onclick="alert('{{ site.t[page.lang].soon }}')">
                        {{ site.t[page.lang].terms }}
                    </a>
                    {% if page.lang == "fr" %}
                    <a href="{{ site.baseurl_root }}/" class="hover:no-underline">
                        English
                    </a>
                    {% else %}
                    <a href="{{ site.baseurl_root }}/fr" class="hover:no-underline">
                        Français
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</footer>
