<!DOCTYPE html>
<html class="no-js" lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Power Buddies</title>
    <meta name="description" content="Power Buddies makes therapeutic toys for children of all ages.">
    <meta name="author" content="Greg Hunt">    
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
  </head>

  <body></body>
</html>
