<header>
    <div class="pt-10 text-brand flex items-center justify-center">
        <div class="w-64">
            {% include logo.svg %}
        </div>
    </div>
    <div class="text-center p-6">
        <h1 class="m-0 font-extrabold text-xl tracking-widest">
            {{ site.t[page.lang].tagline }}
        </h1>
    </div>
    <nav class="h-16 bg-dark text-white flex flex-wrap justify-center items-center space-x-4 lg:space-x-10 uppercase font-bold">
        {% for item in site.t[page.lang].menu %}
        <a class="px-2 md:px-8 py-5 hover:bg-brand" href="#{{ item.slug }}">
            {{ item.title }}
        </a>
        {% endfor %}
    </nav>
</header>