<header>
    <div class="py-10 text-brand flex items-center justify-center">
        <div class="w-64">
            {% include logo.svg %}
        </div>
    </div>
    <nav class="h-16 bg-dark text-white flex flex-wrap justify-center items-center space-x-4 lg:space-x-10 uppercase font-bold">
        <a class="px-2 md:px-8 py-5 hover:bg-brand" href="#about">
            About
        </a>
        <a class="px-2 md:px-8 py-5 hover:bg-brand" href="#shop">
            Shop
        </a>
        <a class="px-2 md:px-8 py-5 hover:bg-brand" href="#contact">
            Contact
        </a>
    </nav>
</header>