<meta charset="utf-8" />
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5JFSDSW');</script>
    <!-- End Google Tag Manager -->
    
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Power Buddies – Weighted Therapeutic Stuffed Animals</title>
<meta name="description" content="Comforting weighted animals for a better daily calm. Made locally in Canada from start to finish using recycled materials.">
<meta name="author" content="Greg Hunt">    
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
<link
    rel="preload"
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
/>
<noscript>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap"
        rel="stylesheet"
        type="text/css"
    />
</noscript>
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/favicon-16x16.png">
<link rel="manifest" href="{{ site.baseurl }}/assets/site.webmanifest">
