<div class="flex flex-col xl:flex-row">
    <div class="xl:w-1/2">
        <img class="w-full h-auto object-cover"
            src="./assets/images/Power-Buddies-Hero.jpg"
            alt="Therapeutic Dog Weighted Animal" />
    </div>
    <div class="xl:w-1/2 xl:bg-gray-light flex items-center xl:justify-center" style="margin-bottom:6.2%">
        <div class="p-16 lg:max-w-2xl text-center xl:text-right">
            <h1
                class="text-blue-900 text-3xl leading-10 font-extrabold sm:leading-none md:text-6xl lg:text-5xl">
                Comforting plush companions for a better 
                <br class="xl:hidden">
                <span class="text-brand">daily calm</span>
            </h1>
            <p class="text-blue-900 mt-3 max-w-md mx-auto text-lg sm:text-xl md:mt-5 md:max-w-3xl">
                PowerBuddies products are made locally in Montreal, Canada from start to finish using recycled products.
            </p>
            <div class="mt-10">
                <div class="inline-block rounded-md shadow">
                    <a href="#shop"
                        class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-red-600 hover:bg-red-500 focus:outline-none focus:border-red-700 focus:shadow-outline-red transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10">
                        Shop Now
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>