---
layout: default
lang: fr
---

{% include hero.html %}

<div class="container">
    <div id="about" class="my-16 max-w-4xl mx-auto bg-brand text-white p-12 rounded-lg bg-brand flex flex-wrap items-center justify-center">
        <div class="w-full sm:w-3/4 lg:w-1/3">
            {% include Power-Buddies-Customer.svg %}
        </div>
        <div class="w-full mt-10 lg:mt-0 lg:w-2/3 lg:pl-16">
            <h2 class="mb-4 heading">Que sont les Power Buddies?</h2>
            <p>Les Power Buddies sont d'adorables compagnons en peluche qui, grâce à leurs qualités thérapeutiques saines, offrent un soutien tout en douceur aux enfants et aux adultes atteints de TDAH, de TSA, de TIS, de stress ou de traumatisme. Conçus pour soulager doucement les utilisateurs des tensions et des distractions quotidiennes, les Power Buddies favorisent les sentiments de stabilité, de détente et de bonheur.</p>
        </div>
    </div>

    <div id="shop" class="my-16 flex justify-center">
        <div class="max-w-xl text-center">
            <div class="relative mb-6">
                <div class="w-32 mx-auto text-gray-light">
                    {% include Paw-Print-Grey.svg %}
                </div>
                <h2 class="absolute top-0 left-0 w-full h-full flex justify-center items-center heading">
                    Trouvez votre Power Buddy
                </h2>
            </div>
            <p>Choisissez votre compagnon préféré parmi notre sélection pour améliorer votre capacité de sommeil, résoudre facilement les problèmes d'anxiété et ajouter de la joie à tous les styles de vie et à tous les âges.</p>
        </div>
    </div>
</div>

<div class="my-16 mx-6 flex flex-col lg:flex-row space-y-6 lg:space-y-0 lg:space-x-6 justify-center items-center">
    <div class="w-full max-w-xl lg:w-1/3 shadow-lg pb-6">
        {% include shop-ziggy.html %}
    </div>
    <div class="w-full max-w-xl
     lg:w-1/3 shadow-lg pb-6">
        {% include shop-luna.html %}
    </div>
    <div class="w-full max-w-xl
     lg:w-1/3 shadow-lg pb-6">
        {% include shop-abbey.html %}
    </div>
</div>

<div class="container my-16">
    <div class="bg-gray-light rounded-xl p-8">
        <div class="flex flex-wrap justify-center">
            <div class="w-full lg:w-1/2 px-8 space-y-6">
              <p>Les animaux lestés Power Buddies ont des oreilles et des pattes souples et un corps doux fait de velours et de satin pour aider à calmer et à apaiser le stress et l'anxiété. Ils sont remplis de granulés de plastique recyclé et pèsent 2 kg afin de fournir une expérience sensorielle de pression profonde aidant à la concentration et à l’attention.</p>
                <p>Un simple jouet thérapeutique comme un animal lesté peut grandement aider.</p>
            </div>
            <div class="w-full lg:w-1/2 px-8">
                <ul class="list-disc space-y-5">
                    <li>Nettoyage : Laver à la main / Sécher par égouttage</li>
                    <li>
                        Âges : Non recommandé pour les enfants de moins de 3 ans sans surveillance d'un adulte
                    </li>
                    <li>Coutures renforcées / Tissu durable</li>
                    <li>Fabriqué au Canada</li>
                    <li>Sac de rangement à cordonnet inclus</li>
                </ul>
            </div>
        </div>
    </div>
</div>
